﻿body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #f7f7fa;
    padding-left: 40px;
    margin-top:50px;
    height:92%;
    min-height:92%;
    position:relative;
}

html{ height:100%; }
/*body{ min-height:100%; padding:0; margin:0; position:relative; }*/
/*footer{ background:PapayaWhip; }*/

/* Trick: */
body {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


nav {
    display: block;
}

.menu {
    padding-left: 10px;
}

    .menu ul {
        list-style: none;
    }

    .menu li {
        display: inline;
    }

    .menu a:hover {
        color: red;
    }

table {
    vertical-align: middle;
    text-align: left;
}

.header {
    font-weight: bold;
}

td {
    padding-right: 10px;
    padding-top: 20px;
}

image {
    width: 90px;
    height: 90px;
    margin: auto;
    display: block;
}

.margin-r {
    margin-right: 30px;
}

.number {
    text-align: center;
    width: 50px;
}

input[type=checkbox] {
    margin-right: 10px;
}
input[type=submit] {
    width: 150px;
    height: 30px;
    background-color: #413333;
    color: white;
    margin-top: 30px;
}

h3 {
    color: saddlebrown;
    text-align:center;
}

/*footer {
    margin-top: 40%;
}*/

/*footer {
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
}*/