﻿@{
    ViewBag.Title = "Buy";
}
<body>
    <div>
        <h3>Cart</h3>
        @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
        {
            @Html.Hidden("CoffeeDetailsId", @ViewBag.CoffeeDetailsId as string)

            @Html.Label("Person", "Enter your name")
            <br />
            @Html.TextBox("Person")
            <br /><br />
            @Html.Label("Person", "Enter your delivery address")
            <br />
            @Html.TextBox("Address")
            <br />
            <input type="submit" value="Confirm" />
        }
    </div>
</body>