﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>You can write us by email:</strong>
    <a href="mailto:coffeeShop@example.com">coffeeShop@example.com</a><br />
</address>