﻿@{
    ViewBag.Title = "Coffee details";
}
<div>
    <h3>Cart</h3>
    @using (Html.BeginForm("Details", "Home", FormMethod.Post))
    {
        @Html.Hidden("CoffeeId", @ViewBag.CoffeeId as string)
        @Html.Label("VolumeId", "Select cap volume")
        <br />

        foreach (var volume in ViewBag.Volumes)
        {
            @Html.Hidden("VolumeId", @volume.Id as string)
            @Html.RadioButton("VolumeId", true)
            <span class="margin-r">@volume.Name</span>
        }
        <br /><br />

        @Html.Label("VolumeId", "Select amount of spoons of sugar", new { @class = "margin-r" })
        @Html.TextBox("SugarSpoons", "0", new { type = "number", @class = "number", min = "0", max = "7" })
        <br><br>

        <p>
            @Html.CheckBox("WithCupCap", false)
            @Html.Label("WithCupCap", "Add cup cap")
        </p>

        if (ViewBag.CoffeeId == 3)
        {
            <p>
                @Html.CheckBox("WithMilk", false)
                @Html.Label("WithMilk", "Add milk")
            </p>
        }
        <input type="submit" value="Next" />
    }
</div>
