﻿@{
    ViewBag.Title = "Coffee shop";
}

<div>
    <h3>Select your favourite coffee</h3>
    <div class="row">
        @foreach (var coffeeName in ViewBag.Coffees)
        {
            <div class="col-sm-4 text-center">
                <p>@coffeeName.Name</p>
                <a href="/Home/Details/@coffeeName.Id">
                    <img src="~/Content/images/@coffeeName.ImageFile" class="img-rounded image" alt="@coffeeName.Name">
                </a>
            </div>
        }
    </div>
</div>
