﻿@{
    ViewBag.Title = "Finish purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApplication1.Models.Purchase
<h3>@ViewBag.Message</h3>
<p>@Model.Id</p>
<br />
@Html.DisplayForModel()

